<div class="content">
	<div class="text-center mb-30">
		<h3 class="page-title">Nous Contacter</h3>
		<p>
			Nous sommes à votre disposition pour répondre à vos questions
		</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box-well">
				<strong class="semibold-mont">Par email:</strong> <br />
				Email: <a href="emailto:marketing@servicepostal.com">marketing@servicepostal.com</a> <br />
				Nous sommes joignables du lundi au vendredi de 9h à 12h et de 14h à 18h 
			</div>
			
		</div>
		<div class="col-md-6">
			<div class="box-well">
				<strong class="semibold-mont">Par téléphone:</strong> <br />
				Numéro: <a href="tel:+0950095000">09 50 09 50 00</a> <br />
				Nous sommes joignables du lundi au vendredi de 9h à 12h et de 14h à 18h
			</div>
		</div>
	</div>

</div>
