<tr *ngIf="showSender">
    <td><label>Expéditeur</label></td>
    <td>
        <input type="hidden" [formControl]="addressForm.controls[index].controls.AddressID" />
        <input type="text" [formControl]="addressForm.controls[index].controls.FirstNameSender" />
        <div *ngIf="addressForm.controls[index].errors?.noSender" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.firstNameSenderMax" class="error">L'entrée ne doit pas contenir plus de {{18}} caractères</div>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.LastNameSender" />
        <div *ngIf="addressForm.controls[index].errors?.noSender" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.lastNameSenderMax" class="error">L'entrée ne doit pas contenir plus de {{18}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.CompanySender" />
        <div *ngIf="addressForm.controls[index].errors?.noSender" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.companySenderMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.AddressSender1" />
        <div class="error" *ngIf="addressForm.controls[index].controls.AddressSender1.hasError('required')">L'adresse est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.address1SenderMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.AddressSender2" />
        <div *ngIf="addressForm.controls[index].errors?.address2SenderMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td class="code-postal-publi">
        <input type="text" [formControl]="addressForm.controls[index].controls.ZipPostalCodeSender">
        <div class="error" *ngIf="addressForm.controls[index].controls.ZipPostalCodeSender.hasError('required')">Le code postal est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.zipCodeLenght" class="error">Le code postal doit comporter 5 chiffres</div>
        <div *ngIf="addressForm.controls[index].errors?.zipSenderMaxLength" class="error">L'entrée ne doit pas contenir plus de {{10}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.CitySender" />
        <div class="error" *ngIf="addressForm.controls[index].controls.CitySender.hasError('required')">La ville est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.citySenderMaxLength" class="error">L'entrée ne doit pas contenir plus de {{27}} caractères</div>
    </td>
    <td>
        <select [formControl]="addressForm.controls[index].controls.CountrySenderID">
            <option *ngFor="let country of countries" [ngValue]="country.CountryID"> {{country.CountryName }}</option>
        </select>
        <div class="error" *ngIf="addressForm.controls[index].errors?.noCountrySender">Le pays est obligatoire</div>
    </td>
    <td *ngIf="!(numberOfCorrectAddresses == 0 && addresses.length == 1)"> <a href="javascript:;" (click)="delete(adr, addresses)"> <span class="glyphicon glyphicon-remove red font16"> </span></a> </td>
</tr>
<tr>
    <td><label>Destinataire </label></td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.FirstNameDest" />
        <div *ngIf="addressForm.controls[index].errors?.noDest" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.firstNameDestMax" class="error">L'entrée ne doit pas contenir plus de {{18}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.LastNameDest" />
        <div *ngIf="addressForm.controls[index].errors?.noDest" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.lastNameDestMax" class="error">L'entrée ne doit pas contenir plus de {{18}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.CompanyDest" />
        <div *ngIf="addressForm.controls[index].errors?.noDest" class="error">Le prénom, le nom ou la société est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.companyDestMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.AddressDest1" />
        <div class="error" *ngIf="addressForm.controls[index].controls.AddressDest1.hasError('required')">L'adresse est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.address1DestMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.AddressDest2" />
        <div *ngIf="addressForm.controls[index].errors?.address2DestMax" class="error">L'entrée ne doit pas contenir plus de {{38}} caractères</div>
    </td>
    <td class="code-postal-publi">
        <input type="text" [formControl]="addressForm.controls[index].controls.ZipPostalCodeDest">
        <div class="error" *ngIf="addressForm.controls[index].controls.ZipPostalCodeDest.hasError('required')">Le code postal est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.zipCodeLenghtD" class="error">Le code postal doit comporter 5 chiffres</div>
        <div *ngIf="addressForm.controls[index].errors?.zipDestMaxLength" class="error">L'entrée ne doit pas contenir plus de {{10}} caractères</div>
    </td>
    <td>
        <input type="text" [formControl]="addressForm.controls[index].controls.CityDest" />
        <div class="error" *ngIf="addressForm.controls[index].controls.CityDest.hasError('required')">La ville est obligatoire</div>
        <div *ngIf="addressForm.controls[index].errors?.cityDestMaxLength" class="error">L'entrée ne doit pas contenir plus de {{27}} caractères</div>
    </td>
    <td>
        <select [formControl]="addressForm.controls[index].controls.CountryDestID">
            <option *ngFor="let country of countries" [ngValue]="country.CountryID"> {{country.CountryName }}</option>
        </select>
        <div class="error" *ngIf="addressForm.controls[index].errors?.noCountryDest">Le pays est obligatoire</div>        
    </td>
    <td *ngIf="!showSender && !(numberOfCorrectAddresses == 0 && addresses.length == 1)"> <a href="javascript:;" (click)="delete(adr, addresses)"> <span class="glyphicon glyphicon-remove red font16"> </span></a> </td>
</tr>