<div class="content">
    <h3> NOUVEAU MOT DE PASSE</h3> 
    <div class="alert alert-danger" *ngIf="!this.showForm  && !this.finished">{{this.message}}</div> 
    <div *ngIf=this.showForm>
        <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Userpassword.valid }">
                <input type="password" class="form-control" required name="Password" [(ngModel)]="model.Userpassword" #Userpassword="ngModel" title="Nouveau Password" placeholder="Nouveau Password*">
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Confpassword.valid }">
                <input type="password" class="form-control" required name="Confpassword" [(ngModel)]="model.Confpassword" #Confpassword="ngModel" title="Conf Nouveau Password" placeholder="Nouveau Password*">
            </div>
            <div class="button-group">
                <button type="submit" [disabled]="loading" class="btn-blue">Ré-initialiser mon mot de passe</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
     </div>

     <div class="alert alert-danger mt-20" *ngIf="this.showForm && this.error && !this.finished">{{this.message}}</div>

    <div class="alert alert-success mt-20" *ngIf="!this.showForm && this.finished">{{this.message}}</div>
    
</div>
