<div class="modal" id="PasswordModal" tabindex="-1" role="dialog" aria-labelledby="PasswordModal" aria-hidden="false">
    <div class="modal-dialog password-modal ">
        <div class="modal-content">
            <div class="modal-header" id="modal_register">
                <button type="button" class="close" #closeModal data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title blue">RÉ-INITIALISATION MOT DE PASSE</h3>
            </div>
            <div class="alert alert-success" *ngIf="model.Message=='OK'">Un email est envoyé à votre adresse e-mail mot de passe réinitialisé.</div>
            <div class="alert alert-danger" *ngIf="model.Message=='NO USER'">Utilisateur n'est pas enregistré.</div>
            <div class="modal-body">
                <form name="form" (ngSubmit)="f.form.valid && sendemailpassword()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Useremail.valid }">
                        <input type="text" class="form-control" required email="true" name="Useremail" [(ngModel)]="model.Useremail" #Useremail="ngModel"  title="Adresse Email" placeholder="Adresse Email*">
                        <div *ngIf="f.submitted && Useremail.errors?.email" class="help-block">Adresse Email invalide</div> 
                    </div>
                    <div class="button-group">
                        <button type="submit" [disabled]="loading" class="btn-blue">Ré-initialiser mon mot de passe</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="login-help">
                    <a class="pointer connexion-modal-link" data-dismiss="modal" data-target="#LoginModal" data-toggle="modal"><span class="new-sprite-publi new-sprite-publi-connexion-modal"></span> Connexion</a>
                    <a class="pointer forgot-password" data-dismiss="modal" data-target="#RegisterModal" data-toggle="modal"><span class="new-sprite-publi new-sprite-publi-logo-modal"></span> Inscription</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>


