<div class="modal" id="videoTutorial" tabindex="-1" role="dialog" aria-labelledby="videoTutorial" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" #closeModal class="close" data-dismiss="modal" aria-hidden="true" id="stop-video">×</button>
				<h3 class="modal-title blue">Découvrir</h3>
			</div>
			<div class="modal-body">
				<!--<iframe width="100%" id="video" height="400" src="" frameborder="0" allowfullscreen></iframe>-->
				<img src="../../../../Images/infographic.jpg" class="img-responsive" />
			</div>
		</div>
	</div>
</div>